
<div class="container">
    <div class="row" *ngFor="let item of dataComefromJson let index">
        <div class="col" >
            <table class="table"  >
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Images</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">New-Quantity</th>
                    <th scope="col">Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">{{index}}</th>
                    <td>{{item.Name}}</td>
                    <td>{{item}}</td>
                    <td>{{item}}</td>
                    <td>{{item}}</td>
                    <td>{{item}}</td>
                    <td>{{item}}</td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>
</div>