.container{
    border: 1px solid black;
    background-image: linear-gradient(to top right, rgb(0, 0, 0), rgb(13, 22, 77));
    margin-top: 10vh;
    height: 70vh;
    width: 100%;
}
.txt>h3{
   font-size: 23px;
   font-style: italic;
   font-weight: bold;
   color: white;
   text-align: center;
   margin-top: 65%;
}
.txt{
  height: 100%;
   

}
.txt>h4{
   font-size: 13px;
   font-style: italic;
   font-weight: bold;
   color: white;
   /* margin-top: 5px; */
   

}
.wrapper{
    padding-left: 20px;
    border-radius: 20px;
    background-color: rgb(240, 240, 240);
    border: 1px solid rgb(240, 240, 240);
    height: 63vh;
    width: 100%;
    padding-left: 31px;
    /* margin-left: 355px; */
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 24px;
    border-bottom-left-radius: 183px;
    border-top-left-radius: 87px;
    border-top-right-radius: 151px;
    
}
input{
    width: 85%;
    border-radius: 0%;
}
.tag{
    font-size: 14px;
   font-weight: bold;
   margin-left: 5px;
}

.selectSize>input{
    display: none;
}
.selectSize>label{
    display: inline-block;
width: 50px;
height: 50px;
text-align: center;
border: 1px solid #ddd;
line-height: 50px;
cursor: pointer;
margin-right: 5px;
}

#small:checked ~ label[for="small"],
#medium:checked ~ label[for="medium"],
#large:checked ~ label[for="large"],
#x-large:checked ~ label[for="x-large"],
#xx-large:checked ~ label[for="xx-large"]
{
    background: #000;
    color: white;
}
