<div class="container">
    <div class="row my-5">
        <div class="col">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingInput" placeholder="Product Name">
                <label for="floatingInput">Product Name</label>
              </div>
              <div class="form-floating">
                <input type="password" class="form-control" id="floatingPassword" placeholder="Product Price">
                <label for="floatingPassword">Product-Price</label>
              </div>
        </div>
        <div class="col">
            <div class="form-floating mb-3">
                <input type="number" class="form-control" id="floatingInput" placeholder="Product Quantity">
                <label for="floatingInput">Product-Quantity</label>
              </div>
              <div class="form-floating">
                <input type="text" class="form-control" id="floatingPassword" placeholder="Product categorie">
                <label for="floatingPassword">Product-Categorie</label>
              </div>
        </div>
        
    </div>
</div>
